@import 'colors';
@import 'mixins';

.header {
    background-color: $kitkard-color;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    @include vertical-center();
    .logo {
        padding: 0 20px;
        height: 100%;
        // margin-left: 20px;
        @include vertical-center();
    }
}
