@import 'colors';
@import 'mixins';

.loader {
    background-color: $kitkard-color;
    width: 100%;
    height: 100%;
    .logo {
        width: 200px;
        height: 200px;
        background: url("../logo_white.svg") center no-repeat;
        -webkit-background-size: 200px;
        background-size: 200px;

    }
}