$headerSize: 44px;

.header {
  width: 100%;
  height: $headerSize;
  flex-direction: row;
  display: inline-flex;
  .header-back-button {
    width: $headerSize;
    height: $headerSize;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 100ms ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
  .center-content {
    flex: 1;
    height: $headerSize;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-button {
    width: $headerSize;
    height: $headerSize;
  }
}
